{{ header }}
{{ column_left }}

<div class="pull-center">
	<table>
		<tr>
			<td>Product ID</td>
			<td>Name</td>
			<td>Model</td>
			<td>Price</td>
			<td>Quantity</td>
			<td>Status</td>
		</tr>
	</table>
</div>
{% for product in products %}

	<div class="text-center">
		<div class="border">
			{{product.product_id}}
		</div>

	</div>
{% endfor %}

<button class="btn btn-primary">Save</button>
{{ footer }}
